################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fibonacci/bin
/Fibonacci/obj
/.vs/Fibonacci
/Pi/Pi/bin
/Pi/Pi/obj
/Pi/.vs
