################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fibonacci/bin/Debug/netcoreapp3.1
/Fibonacci/obj
